
.stopview:hover, .stopview:focus {
    background-color: #FF6151;
    color: #ffffff
}

.stopview {
    color: #FF6151;
    border: 2px solid #FF6151;
    position: relative;
    width: 255px;
    height: 57px;
    text-decoration: none;
    background: white;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 590px;
}

.file input {
    height: 50px;
    background-color: white;
    color: #D02525;
}

.modal-content {
    width: 700px;
    height: 400px;
}

#jobForm input {
    width: 550px;
    height: 50px;
    border: 2px solid #D02525;
    border-radius: 10px;
    margin-bottom: 20px;
}

.jobview:hover, .jobview:focus {
    background-color: #D02525;
    color: #ffffff
}

.jobview {
    color: #D02525;
    border: 2px solid #D02525;
    width: 180px;
    height: 50px;
    background: white;
    border-radius: 50px;
    margin-top: 10px;
}


.applyview:hover, .applyview:focus {
    background-color: white;
    color: #D02525;
    border: 2px solid #D02525;
}

.applyview {
    color: white;
    border: 2px solid #D02525;
    width: 180px;
    height: 50px;
    background: #D02525;
    border-radius: 50px;
    margin-top: 10px;
}



.navbar-fixed-top .navbar-nav > li > a:hover, .navbar-fixed-top .navbar-nav > li > a:focus {
    background-color: red;
    color: #FFffff;
}

.navbar-fixed-top .navbar-nav li .dropdown-menu {
    border: 3px solid red;
    margin-top: 10px;
}

    .navbar-fixed-top .navbar-nav li .dropdown-menu li {
        margin-top: 10px;
        padding-left: 4px;
        padding-right: 4px;
    }

        .navbar-fixed-top .navbar-nav li .dropdown-menu li:hover {
            background-color: red;
            color: #ffffff;
        }

        .navbar-fixed-top .navbar-nav li .dropdown-menu li a:hover {
            color: red;
        }


.navbar-fixed-top .navbar-nav li a {
    color: #000000;
    size: 120px;
    letter-spacing: 2px;
    text-decoration: none;
}

.navbar-fixed-top .navbar-nav, .navbar-fixed-top {
    padding-right: 80px;
    padding-left: 50px;
}

.panel-heading {
    height: 50px;
}

.navbar {
    position: relative;
    height: 55px;
    min-height: 50px;
    margin-bottom: 0px;
    border: 0px solid transparent;
    box-shadow: 0px 2px 5px grey;
}

.navbar-fixed-top .navbar-nav li #live {
    color: red;
    size: 120px;
    letter-spacing: 2px;
    text-decoration: none;
}

    .navbar-fixed-top .navbar-nav li #live:hover, .navbar-fixed-top .navbar-nav li #live:focus {
        border-bottom: 2px solid white;
        color: red;
        background-color: #ffffff;
        border-bottom: 2px solid red;
    }

/*Home Page Css*/
body {
    padding: 0px;
    margin: 0px;
}

.maintxt {
    position: relative;
}

    .maintxt > img, .overlay-text {
        position: absolute;
    }

.overlay-text {
    padding: 150px 50px;
}

.dot {
    height: 120px;
    width: 120px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: white;
    border: 3px solid #D02525;
    border-radius: 50%;
    display: inline-block;
}

.alldot {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin-bottom: 30px;
    background-color: white;
    border: 3px solid #D02525;
    display: inline-block;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    justify-content: center;
}

.allroutes {
    margin-left: 0px;
    margin-top: 60px;
    margin-right: 0px;
    position: relative;
}

.view {
    color: #D02525;
}

    .view:hover, .view:focus {
        background-color: #D02525;
        color: #ffffff
    }

.routes {
    margin-top: 560px;
    margin-left: 200px;
    margin-right: 200px;
    position: absolute;
}


.routes_name {
    padding-left: 15px;
}

.para {
    color: grey;
    font-size: 15px;
    margin-top: 4px;
    display: flex;
    justify-content: center;
}

.parabutton, .parabutton:hover {
    color: #d02525;
    text-decoration: underline;
    font-weight: 600;
    font-size: 15px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

.head4 {
    padding-bottom: 10px;
    color: black;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    margin-top: 4px;
    display: flex;
    justify-content: center;
}

.guide p:hover {
    color: #d02525;
}

.guide:hover {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 15px 3px #C8C6C6;
}

.view {
    border: 2px solid #d02525;
    position: relative;
    width: 255px;
    height: 57px;
    text-decoration: none;
    background: white;
    border-radius: 100px;
    margin-top: 1020px;
    margin-left: 590px;
}


footer .navbar a {
    text-decoration: none;
}


.tguide:hover {
    font-size: 18px;
    color: #D02525;
}

.tguide {
    font-size: 20px;
    color: #003e5f;
}
