
@{
    ViewBag.Title = "AllRoutes";
}

<div style="display: flex; justify-content: center; margin-top: 180px">
    <h2 style="font-size: 40px;">Making Bus Travel Better</h2>
</div>

<div style="display: flex; margin-top: 2px; justify-content: center">
    <h2 style="font-weight: 600; font-size: 45px; color: #D02525; ">Across 28 Cities And Counting</h2>
</div>
<div style="display: flex; margin-top: 6px; justify-content: center;">
    <p style="color: grey; font-size: 15px" class="col-lg-push-2 col-lg-6">
        We offer the Speedo Bus Services, the Speedo Bus Card and a host of digital products that help make your travel
        safe, convenient and hassle-free. Do you want your city to be a Speedo Bus City? <span style="color: #d02525"> Partner with us</span>
    </p>
    <div class="col-lg-4"></div>
</div>
<div class="allroutes">
    @for (int i = 0; i < 28; i++)
    {
        <span class="alldot"></span>
    }

</div>
