
@{
    ViewBag.Title = "AllRoutes";
}

<div style="margin-top: 140px;">
    <h2 style="color: black; font-size: 40px; " class="text-center">Making Bus Travel Better</h2>
</div>

<div style="margin-top: 2px;">
    <h2 style="font-weight: 600; font-size: 45px; color: #D02525; " class="text-center">20+ Routes Across Lahore City </h2>
</div>

<div style="display: flex; margin-top: 6px; justify-content: center;">
    <p style="color: grey; font-size: 15px" class="col-lg-push-2 col-lg-6">
        We offer the Speedo Bus Services, the Speedo Bus Card and a host of digital products that help make your travel
        safe, convenient and hassle-free. Do you want your city to be a Speedo Bus City? <span style="color: #d02525"> Partner with us</span>
    </p>
    <div class="col-lg-4"></div>
</div>

<div class="allroutes col-lg-12">
    @for (int i = 1; i < 28; i++)
    {
        <a @*href="\Home\Route\@i.id"*@ class=""> <span class="alldot"></span></a>
    }

</div>
