


@*<h1 style="color: #D02525; margin-bottom: 50px; margin-top: 50px; display: flex; justify-content: center"> A Complete Live Map</h1>*@
@*<div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d217654.26397652272!2d74.17700628809361!3d31.528337882292856!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x39191efcd6401eff%3A0xdf189941a7edbdcc!2sRana%20Town%20Bus%20Stop%2C%20Grand%20Trunk%20Road%2C%20Rana%20Town%20Lahore!3m2!1d31.6851284!2d74.2760941!4m5!1s0x3919a85a22a3f6d1%3A0x5d8a268717ee18f7!2sKahna%20Purana!3m2!1d31.352289199999998!2d74.3734092!5e0!3m2!1sen!2s!4v1653583270787!5m2!1sen!2s" width="1510" height="700" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>*@


@model List<Speedo_Bus_Facilitation.Models.Route>
@{
    ViewBag.Title = "BusNearMe";
}

<div style="margin-top: 140px;">
    <h2 style="color: black; font-size: 40px;" class="text-center">Making Bus Travel Better</h2>
</div>

<div style="margin-top: 2px;">
    <h2 style="color: #D02525; font-size: 45px; font-weight: 600;" class="text-center">20+ Routes Across Lahore City </h2>
</div>

<div style="display: flex; justify-content: center; margin-top: 6px;">
    <p style="color: grey; font-size: 15px" class="col-lg-push-2 col-lg-6">
        We offer the Speedo Bus Services, the Speedo Bus Card and a host of digital products that help make your travel
        safe, convenient and hassle-free. Do you want your city to be a Speedo Bus City? <span style="color: #d02525"> Partner with us</span>
    </p>
    <div class="col-lg-4"></div>
</div>

<div style="padding-left: 130px; padding-right: 0px;">
    <div class="allroutes col-lg-12 " style="margin-left: 0px; ">
        @foreach (var i in Model)
        {
            <a  class="col-lg-2" data-stopname="@i.RouteName" onclick="getLocation(this)">
                <span class="alldot">
                    <span style="color: #d02525; display: flex; font-family: cursive; font-size: 14px; font-weight: 600; justify-content: center; margin-top: 45px; padding-left: 30px; padding-right: 20px; ">@i.RouteName</span>
                </span>
            </a>
        }

    </div>
</div>
<script>
    var destination;
    function getLocation(data) {
        debugger;
        var source;
        destination = data.getAttribute('data-stopname').split("to ")[1];
        console.log("destination: " + destination.toString().split("to ")[1]);
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            x.innerHTML = "Geolocation is not supported by this browser.";
        }
    }

    function showPosition(position) {
        source = position.coords.latitude + "," + position.coords.longitude;
        console.log("source: " + source);
        var url = "https://www.google.com/maps/dir/" + source + "/" + destination;
        window.open(url, '_blank').focus();

    }
</script>