


@{
    ViewBag.Title = "Card";
}

<h2>Card</h2>
<div style="margin-left: 250px; margin-right: 250px; ">

    <span class=" ">
        <img src="~/assets/location2.png" style="height: 200px" />
    </span>
    <span class="">
        <p style="font-size: 25px ">
            Experience contactless payments
        </p>
        <h1 style="color: #D02525; font-weight: 600 ">
            Chalo Card
        </h1>
        <p>
            Travel safer with the tap-to-pay contactless Chalo Card. Store your
            bus tickets, bus pass and&nbsp;
        </p>
    </span>
</div>

