
@{
    ViewBag.Title = "Index";
}



<img src="~/assets/speedo bg.jpg" style="height: 659px; position: absolute; opacity: 50.0" />

<button style="position:relative ; width: 155px; height: 57px; text-decoration: none; color: white; background: #F15933; border-radius: 10px; border: red; margin-top: 360px; margin-left: 350px; ">
    <i class="fa fa-map-marker"></i> <a href="" style="color: #ffffff"> Bus Near me</a>
</button>
<button style="position: absolute; width: 55px; height: 57px; background: white; border-radius: 10px 0px 0px 10px; border: white; margin-top: 360px; margin-left: 10px;">
    <i class="fa fa-search"></i>
</button>

<input type="text" style="position: absolute; width: 349px; height: 57px; margin-top: 360px; border: white; margin-left: 50px; background: #FFFFFF; border-radius: 0px 10px 10px 0px; " placeholder="Search Bus Number of your Route " />



<h4 style="color: #000000; font-style: normal; font-weight: 400; font-size: 30px; margin-top: 280px; margin-left: 30px ;margin-bottom: 0px; ">
    Making Bus Travel Better
</h4>
<img src="~/assets/world-map.png" style="position: absolute; height: 150px; alignment: right; padding-left: 1100px;" />
<h4 style="color: #D02525; font-style: normal; font-weight: 400; font-size: 30px; margin-top: 4px; margin-left: 30px ">
    Speedo Bus Servies
</h4>