@using Speedo_Bus_Facilitation.Models
@model List<HomeRoutes>

@{
    ViewBag.Title = "Home ";
}
<style>
    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .centered1 {
        position: absolute;
        top: 40%;
        left: 20%;
        transform: translate(-50%, -50%);
        width:100%;
    }
</style>


<img src="~/assets/speedo bg.jpg" style="height: 659px; opacity: 50.0; width: 100%;" id="myPage" />

<div class="row centered1">
    <div class="col-md-12" style="align-items: center; display: flex; justify-content: center;">
        <button onclick="window.location.href='/Home/BusNearMe'" style="position: relative; height: 57px; text-decoration: none; color: white; background: #F15933; border-radius: 10px; border: red; width: 8%; margin-right: 5px;">
            <i class="fa fa-map-marker"></i> <span style="color: #ffffff"> Bus Near me</span>
        </button>
        <button onclick="RouteIt()" style="height: 57px; background: white; border-radius: 10px 0px 0px 10px; border: white; width: 3%;">
            <i class="fa fa-search"></i>
        </button>

        <input type="text" id="btn-search" style="height: 57px; border: white; background: #FFFFFF; border-radius: 0px 10px 10px 0px; width: 16%; " placeholder="Search Bus/Route Number " />
    </div>

</div>


<div class="row">
    <div class="col-md-4">
        <img src="~/assets/world-map.png" style=" margin: auto; width: initial;" />
    </div>
    <div class="col-md-8">
        <h4 style="color: #000000; font-style: normal; font-weight: 400; font-size: 30px; display: flex; width: 50%; margin-top: 100px; align-items: center; justify-content: center; ">
            Making Bus Travel Better
        </h4>
        <h4 style="color: #D02525; font-style: normal; font-weight: 600; font-size: 30px; margin-top: 4px; display: flex; justify-content: center; width: 50%;">
            Speedo Bus Servies
        </h4>


    </div>


</div>





<div class="row">
    <div class="col-lg-12">
            <img src="~/assets/travel easy.png" style="margin-top: 80px;width:100%; " />
            <div >
                <h4 class="centered" style="color: #000000;font-weight: 400;font-size: 25px;margin-top:80px">
                    Bus Stops Where You Can
                </h4>
                <h4 class="centered" style="color: #D02525; font-weight: 600; font-size: 30px; top: 65%;">
                    Travel in Speedo Bus Servies
                </h4>
            </div>
    </div>
</div>

@*<div style=" ">
        <div class="routes " style="margin-left: 250px; margin-right: 200px">
            @foreach(var i in Model)
            {
                <span class="dot "><span style="display: flex; justify-content: center; margin-top: 45px; color: #d02525; font-family:cursive;  font-weight: 600; font-size: 12px">@i.busStop.Name</span></span>
            }
        </div>
    </div>*@
<div style=" justify-content: center; display: flex;">
    <button class="view" onclick="window.location.href='/Home/AllRoutes'" style="font-weight: 600;  ">
        View all the Routes
    </button>
</div>


<div style="margin-top: 100px; border-top: 1px solid grey; ">
    <h4 style="color: #000000; font-style: normal; padding-top: 60px;  font-weight: 400; font-size: 35px; margin-top: 10px; margin-bottom: 0px; display: flex; justify-content: center;">
        Travel Guideline that
    </h4>
    <h4 style="color: #D02525; position: relative; font-weight: 600; font-size: 30px; margin-top: 4px; display: flex; justify-content: center;">
        You Must Know
    </h4>
    <h6 style="color: #D02525; position: relative; display: flex; justify-content: center; font-size: 17px; margin-top: 4px; ">
        Redefining the bus travel experience through technology.
    </h6>
</div>
<div class="" style="margin-top: 50px; margin-bottom: 50px; display: flex; justify-content: center;">
    @for (int i = 1; i <= 4; i++)
    {
        <div class="col-lg-3 guide" style="padding: 20px; margin-right: 20px;">

            <h4 class="head4">
                <i class="fa fa-money"></i> &nbsp; Bus Fair
            </h4>
            <p class="para">
                The cost of Speedo Single side travel is 20Rs But if you have a card you will be charge 15Rs for single side. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </p>
            <a href="\Home\TravelGuide" class="parabutton">
                Read More about travel guidelines
            </a>
        </div>

    }



</div>
<div>
    <img src="~/assets/divider.png" style="width:100%;" />
</div>


    <div style="margin-top: 30px; ">
        <h4 style="color: #000000;  font-weight: 400; font-size: 25px;  margin-bottom: 0px;">
            Why wait at The
        </h4>
        <h4 style="color: #D02525; font-weight: 600; font-size: 30px; ">
            Bus stop Ever Again
        </h4>
    </div>
    <div style="text-align:center; margin:60px;">
        <a href="\Home\BusStop" style="color: #D02525; font-size: 22px;"><i class="fa fa-map-marker"></i> <span>Live Track your bus now</span> </a>
    </div>
    
    <div>
        <img src="~/assets/bottom-cropped.png" style="width:100%;" />
    </div>
    <div>
        <img src="~/assets/logo speedo.png" style="margin-left: 40px;" />
    </div>

    







<script>

    //window.location.href = '/Home/BusStop'
    function RouteIt() {
        debugger;
        var query = $("#btn-search").val();
        if (query == '' || query == "undefined" || query == null) {
            return;
        }

        window.location.href = '/Home/BusStop?query=' + query
    }
   

    var input = document.getElementById("btn-search");
    input.addEventListener("keypress", function (event) {
        if (event.key === "Enter") {
            event.preventDefault();
            //document.getElementById("myBtn").click();
            RouteIt();
        }
    });
</script>









@*<div class="routes" style="margin-top: 50px;">
        @for (int i = 1; i < 10; i++)
        {
            <div class="col-lg-4 panel-group">
                <div class="panel panel-danger" style="color: #d02525; height: 200px; border: 3px solid #d02525; padding-right: 0px; padding-left: 0px; border-radius: 5px 5px 20px 20px; margin-left: 0px;">
                    <div style="background-color: #d02525; display: flex; color: #ffffff; " class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse1" style="padding-left: 110px; "> Bus Fair </a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">
                        <div class="panel-body">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</div>
                    </div>
                </div>
            </div>

        }
    </div>*@
