
@{
    ViewBag.Title = "Index";
}



<img src="~/assets/speedo bg.jpg" style="height: 659px; position: absolute; opacity: 50.0" />

<button style="position:relative ; width: 155px; height: 57px; text-decoration: none; color: white; background: #F15933; border-radius: 10px; border: red; margin-top: 360px; margin-left: 350px; ">
    <i class="fa fa-map-marker"></i> <a href="" style="color: #ffffff"> Bus Near me</a>
</button>
<button style="position: absolute; width: 55px; height: 57px; background: white; border-radius: 10px 0px 0px 10px; border: white; margin-top: 360px; margin-left: 10px;">
    <i class="fa fa-search"></i>
</button>

<input type="text" style="position: absolute; width: 349px; height: 57px; margin-top: 360px; border: white; margin-left: 50px; background: #FFFFFF; border-radius: 0px 10px 10px 0px; " placeholder="Search Bus Number of your Route " />



<h4 style="color: #000000; font-style: normal; font-weight: 400; font-size: 30px; margin-top: 280px; margin-left: 30px ;margin-bottom: 0px; ">
    Making Bus Travel Better
</h4>
<img src="~/assets/world-map.png" style="position: absolute; height: 190px; alignment: right; padding-left: 1100px; " />
<h4 style="color: #D02525; font-style: normal; font-weight: 400; font-size: 30px; margin-top: 4px; margin-left: 30px ">
    Speedo Bus Servies
</h4>

<div style="padding-left: 40px;">
    <div class="row" style="margin-left: 0px;margin-right: 0px;">
        <div class="col-xs-12 col-sm-6 col-md-8 col-centered">
            <div class="maintxt">
                <img src="~/assets/travel easy.png" style=" width: 1400px; margin-top: 80px; " />
                <h4 class="overlay-text" style="color: #000000; font-style: normal; padding-top: 440px; padding-left: 470px; font-weight: 400; font-size: 30px; margin-top: 0px; margin-left: 30px; margin-bottom: 0px;">
                    Routes Where You Can
                </h4>
                <h4 class="overlay-text" style="color: #D02525; position: absolute; padding-top: 470px; padding-left: 470px ;  font-style: normal; font-weight: 400; font-size: 30px; margin-top: 4px; margin-left: 30px;  ">
                    Travel in Speedo Bus Servies
                </h4>

            </div>
        </div>
    </div>

    <div class="routes">
        @for (int i = 0; i < 18; i++)
        {
            <span class="dot"></span>
        }

    </div>

    <button class="view">
        <a href="" style="color: #D02525"> View all the Routes</a>
    </button>

    <h4 style="color: #000000; font-style: normal; padding-top: 40px; padding-left: 550px; font-weight: 400; font-size: 30px; margin-top: 10px; margin-left: 30px; margin-bottom: 0px;">
        Travel Guideline that
    </h4>
    <h4 style="color: #D02525; position: relative;  padding-left: 580px ;  font-style: normal; font-weight: 400; font-size: 30px; margin-top: 4px; margin-left: 30px;  ">
        You Must Know
    </h4>
    <img src="~/assets/bottom.png" style=" width: 1400px; margin-top: 150px; " />

</div>