
@{
    ViewBag.Title = "Jobs";
}

<div style="margin-top: 120px;">
    <h2 style="color: black; font-size: 25px" class="text-center">Search For Current Opportunities</h2>
</div>

<div style="margin-top: 2px;">
    <h2 style="font-weight: 600; font-size: 30px; color: #D02525" class="text-center">Speedo Bus Services</h2>
</div>

<div style="display: flex; margin-top: 6px; justify-content: center;">
    <p style="color: grey; font-size: 17px; " class="col-lg-push-2 col-lg-6">
        By improving public transportation, we make our city better places to live in, and improve our health and our lives.

        If this drives you too, then hop on! <span style="color: #d02525"> Welcome to Speedo Bus Services.</span>
    </p>
    <div class="col-lg-4"></div>
</div>

<div class="col-lg-12">
    <form class="form-inline text-center col-lg-6 col-lg-push-3" style="margin-top: 20px">
        <div class="input-group">
            <div class="form-group">
                <select name="" class="form-control" style="height: 50px; width: 350px; border-radius: 50px 0px 0px 50px;">
                    <option value="0">- All Categories -</option>

                    <option value=""> Finance </option>
                    <option value=""> Operations </option>
                    <option value=""> Technology </option>
                    <option value=""> Cleanical Staff </option>

                </select>
                <div class="input-group-btn" style="color: white">
                    <button type="button" style="background-color: #d02525; border-radius: 0px 50px 50px 0px; height: 50px; width: 150px " class="btn "><i class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
    </form>
    <div class="col-lg-3"></div>
</div>

<div class="col-lg-12 " style="margin-top: 50px ">
    <div class="col-lg-push-1 col-lg-10">
        @for (int i = 1; i <= 10; i++)
        {
            <div class="col-lg-4" style="margin-bottom: 50px;">
                <div style="height: 270px; width: 350px; color: #d02525; border-radius: 10px; box-shadow: 0 0 15px 3px #C8C6C6; padding: 30px">
                    <h4 style="font-size: 30px; color: black; font-weight: 600"> Accounts Executive</h4>
                    <h4 style="color: grey; font-weight: 400; font-size: 20px"> Lahore</h4>
                    <h4 style="font-size: 25px; color: black; font-weight: 600"> Finance</h4>
                </div>
            </div>
        }
    </div>
    <div class="col-lg-2"></div>
</div>