
@{
    ViewBag.Title = "LiveView";
}
<div class="well">
    <img src="~/assets/location.png" style="margin-left: 750px; margin-top: 20px; position: absolute; height: 500px" />
    <div class="jumbotron text-left" style="padding-left: 50px; padding-top: 150px; height: 500px; background-color: #003E5F; color: white">


        <h1 style="font-weight: 600"> <i class="fa fa-map-marker"></i> Live Route </h1>
        <p>Please select your service to continue</p>
        <form class="form-inline">
            <div class="input-group">
                <div class="form-group">
                    <select name="SellerId" class="form-control">
                        <option value="0">- Please Select Services -</option>

                        <option value=""> Route Name </option>
                        <option value=""> Route No </option>
                        <option value=""> Bus No </option>

                    </select>
                </div>
                <div class="input-group-btn">
                    <button type="button" style="background-color: #D02525;" class="btn "><i class="fa fa-search"></i></button>
                </div>
            </div>
        </form>
    </div>
    <div class="input-group col-lg-push-9 col-lg-3">
        <div class="">
            <input type="text" style="height: 50px;" class="form-control" size="50" placeholder="Route Name, Route Number, Bus Number" required>
            <div class="input-group-btn">
                <button type="button" style="background-color: #003E5F; color: white; width: 50px; height: 50px;" class="btn "><i class="fa fa-search"></i></button>
            </div>
        </div>
    </div>

    <div>
        <h2 style="color: #003e5f; font-weight: 600;">
            Bhatti Chowk - RA Bazar
            <i class="fa fa-bus " style="padding-left: 60px; padding-right: 10px; font-size: 26px; color: #003e5f"></i>
            <span style="font-weight: 600; font-size: 25px"> Route 250</span>
        </h2>
    </div>
    <img src="~/assets/FR-15.jpg" height="970px" style="margin-top: 20px" /> @*Ya Change hoga or live map aay ga*@
</div>