
@{
    ViewBag.Title = "LiveTrack";
}
<div class="well">
    <img src="~/assets/location.png" style="margin-left: 750px; margin-top: 20px; position: absolute; height: 500px" />
    <div class="jumbotron text-left" style="padding-left: 50px; padding-top: 150px; height: 500px; background-color: #003E5F; color: white">


        <h1 style="font-weight: 600"> <i class="fa fa-map-marker"></i> Live Route </h1>
        <p>Please select your service to continue</p>
        <form class="form-inline">
            <div class="input-group">
                <div class="form-group">
                    <select name="SellerId" class="form-control">
                        <option value="0">- Please Select Services -</option>

                        <option value=""> Route Name </option>
                        <option value=""> Route No </option>
                        <option value=""> Bus No </option>

                    </select>
                </div>
                <div class="input-group-btn">
                    <button type="button" style="background-color: #D02525;" class="btn "><i class="fa fa-search"></i></button>
                </div>
            </div>
        </form>
    </div>
    <div class="input-group col-lg-push-9 col-lg-3">
        <div class="">
            <input type="text" style="height: 50px;" class="form-control" size="50" placeholder="Route Name, Route Number, Bus Number" required>
            <div class="input-group-btn">
                <button type="button" style="background-color: #003E5F; color: white; width: 50px; height: 50px;" class="btn "><i class="fa fa-search"></i></button>
            </div>
        </div>
    </div>

    <div>
        <h2 style="color: #003e5f; font-weight: 600;">
            Bhatti Chowk - RA Bazar
            [<span style="font-weight: 600; font-size: 25px; color: #d02525"> FR-15 </span>]
            <i class="fa fa-bus " style="padding-left: 60px; padding-right: 10px; font-size: 26px; color: #003e5f"></i>
            <span style="font-weight: 600; font-size: 25px"> Bus F188</span>
        </h2>
    </div>


    <div class="col-lg-12" style="margin-top: 20px;">
        <div class="well col-lg-3" style="color: black; font-size: 20px; margin-left: 20px">
            <span style="color: #d02525; font-weight: 600;">Previous Stop : </span><br /> Katchari Metro Station
        </div>
        <div class="well col-lg-3" style="color: black; font-size: 20px; margin-left: 20px">
            <span style="color: #d02525; font-weight: 600;">Current Stop : </span><br /> Nasir Bagh
        </div>
        <div class="well col-lg-3" style="color: black; font-size: 20px; margin-left: 20px">
            <span style="color: #d02525; font-weight: 600;">Next Stop : </span><br /> Civil Secretariat Metro Station
        </div>


    </div>


    <img src="~/assets/FR-15.jpg" height="970px" style="margin-top: 20px" /> @*Ya Change hoga or live map aay ga*@
</div>















@*

    <div class="well">
        <img src="~/assets/location2.png" style="margin-left: 700px; margin-top: 70px; position: absolute; height: 480px" />
        <div class="jumbotron text-left" style="padding-left: 50px; padding-top: 150px; height: 500px; background-color: #003E5F; color: white">

            <h1 style="font-weight: 600"> <i class="fa fa-map-marker"></i> Live Tracking </h1>
            <p>Please select your service to continue</p>
            <form class="form-inline">
                <div class="input-group">
                    <div class="form-group">
                        <select name="SellerId" class="form-control">
                            <option value="0">- Please Select Services -</option>

                            <option value=""> Route Name </option>
                            <option value=""> Route No </option>
                            <option value=""> Bus No </option>

                        </select>
                    </div>
                    <div class="input-group-btn">
                        <button type="button" style="background-color: #D02525;" class="btn "><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
        <div class="input-group col-lg-push-9 col-lg-3">
            <div class="">
                <input type="text" style="height: 50px;" class="form-control" size="50" placeholder="Route Name, Route Number, Bus Number" required>
                <div class="input-group-btn">
                    <button type="button" style="background-color: #003E5F; color: white; width: 50px; height: 50px;" class="btn "><i class="fa fa-search"></i></button>
                </div>
            </div>
        </div>

        <div style="margin-top: 50px;">

            <table class="table table-fixed table-striped">
                <thead>
                    <tr>
                        <th> Type</th>
                        <th> Route No</th>
                        <th> Bus No</th>
                        <th> Route Name </th>
                        <th> Stops Covered </th>
                        <th> Stops Left </th>
                        <th> Tracking </th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i <= 28; i++)
                    {
                        <tr>
                            <td><i class="fa fa-bus " style="font-size: 26px; color: #003e5f"></i></td>
                            <td> Route 250</td>
                            <td> FR-15</td>
                            <td><a href="\Home\LiveView" style="color: #003e5f"> Bhatti Chowk - RA Bazar </a></td>
                            <td> 30 </td>
                            <td> 22 </td>
                            <td><a href="\Home\LiveView" style="color: #003e5f"> Live Track </a></td>
                        </tr>
                    }
                </tbody>

                <tfoot>
                    <tr>
                        <th> Type</th>
                        <th> Route No</th>
                        <th> Bus No</th>
                        <th> Route Name </th>
                        <th> Stops Covered </th>
                        <th> Stops Left </th>
                        <th> Tracking </th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>*@