@using Speedo_Bus_Facilitation.Models
@model Speedo_Bus_Facilitation.Models.Route
@{
    ViewBag.Title = "Route";
}

<div style="color: #D02525; display: flex; justify-content: center; margin-top: 100px;margin-bottom: 50px; ">
    <h2>Route Details</h2><br />

</div>
<table class="table table-striped" style="margin-top: 50px ">
    <thead>
        <tr>
            <th>Route Number</th>
            <th>Distance</th>
            <th>Buses Number</th>
            <th>Bus Stops</th>
        </tr>
    </thead>
    <tbody style="color: #d02525">
        <tr>
            <td rowspan="3" class="col-lg-2">FR-15</td>
            <td class="col-lg-2">@Model.Distance</td>
            <td class="col-lg-3">F100, F200, F300</td>
            <td class="col-lg-5">Bhatti Chowk, Katchari, Nasir Bagh, Civil Secretariat, Mao College, Anarkali Metro Station, Janazgah, Qartaba Chowk </td>
        </tr>

    </tbody>
    <tfoot>
        <tr>
            <th>Route Number</th>
            <th>Distance</th>
            <th>Buses Number</th>
            <th>Bus Stops</th>
        </tr>
    </tfoot>

</table>