
@{
    ViewBag.Title = "Terms";
}

<div style="display: flex; justify-content: center; margin-top: 120px;">
    <h2 style="color: grey;">Terms Of Service</h2>
</div>

<div style="display: flex; margin-top: 2px; justify-content: center">
    <h2 style="font-weight: 600; font-size: 35px ">For Travel And Use of Website</h2>
</div>

<div class="container-fluid " style="margin-top: 60px ">
    <div class="col-lg-push-2 col-lg-8">
        <div>
            <h4 style="font-weight: 600; color: grey"> Acceptance of the Terms of Service</h4>
            <p style="color: grey">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <p style="color: grey">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <p style="color: grey">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
        <div>
            <h4 style="font-weight: 600; color: grey"> Acceptance of the Terms of Service</h4>
            <p style="color: grey">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <p style="color: grey">Donec porta nibh ligula, et dignissim erat pretium sed. Sed in pulvinar mauris. Cras sed mauris hendrerit, fermentum orci ut, varius nisi. Aliquam a justo euismod, facilisis mi tristique, commodo arcu. Nam ultricies suscipit feugiat. Nam lobortis commodo pharetra. Donec interdum turpis vel turpis tristique dictum. In tincidunt suscipit mauris vitae viverra. Sed vel bibendum nibh. Quisque sit amet ante consequat, molestie metus et, tempor ipsum. Nunc eget congue felis. Nam vel vulputate ipsum. </p>
            <p style="color: grey">Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla convallis euismod tellus. Sed dapibus molestie enim, eget tristique orci viverra vitae. Nulla facilisi. Sed ut ipsum sit amet lacus iaculis rutrum. Etiam lacinia ligula et est pretium convallis. Donec cursus molestie massa vitae placerat. Duis urna lorem, varius sed augue sed, vestibulum interdum dui. Donec in metus nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In ullamcorper tellus turpis, quis suscipit sapien tempor nec. </p>
            <p style="color: grey">Curabitur tempus maximus mi nec consequat. Phasellus at dapibus odio. Integer faucibus nulla nec dolor dictum euismod. Donec porttitor aliquam magna, quis rutrum mauris fermentum non. Etiam scelerisque luctus hendrerit. Integer sem erat, consequat finibus rhoncus sed, blandit id enim. Integer imperdiet dapibus tellus, ut pharetra magna. </p>
            <p style="color: grey">Integer fermentum est sed dolor accumsan, et maximus enim porttitor. Maecenas interdum sagittis mollis. Proin non feugiat nibh, sed sagittis justo. Suspendisse potenti. Donec id enim aliquet magna euismod tristique in at nulla. Ut consequat libero sapien, sit amet vehicula urna feugiat eget. Nam vel ligula in ligula tempus venenatis condimentum ac velit. Pellentesque posuere metus sit amet ligula lobortis blandit. Suspendisse ac mollis sapien, vitae porttitor odio. Aenean sed sem leo. Phasellus pellentesque neque eget massa sollicitudin, et maximus tellus dapibus. Mauris ornare vehicula tellus eget interdum. Ut porta consectetur semper. </p>
            <p style="color: grey">Curabitur tempus maximus mi nec consequat. Phasellus at dapibus odio. Integer faucibus nulla nec dolor dictum euismod. Donec porttitor aliquam magna, quis rutrum mauris fermentum non. Etiam scelerisque luctus hendrerit. Integer sem erat, consequat finibus rhoncus sed, blandit id enim. Integer imperdiet dapibus tellus, ut pharetra magna. </p>
        </div>
        <div>
            <h4 style="font-weight: 600; color: grey"> Acceptance of the Terms of Service</h4>
            <p style="color: grey">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <p style="color: grey">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <p style="color: grey">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
        <div>
            <h4 style="font-weight: 600; color: grey"> Acceptance of the Terms of Service</h4>
            <p style="color: grey">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <p style="color: grey">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <p style="color: grey">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
        <div>
            <h4 style="font-weight: 600; color: grey"> Acceptance of the Terms of Service</h4>
            <p style="color: grey">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <p style="color: grey">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <p style="color: grey">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
        <div>
            <h4 style="font-weight: 600; color: grey"> Contact</h4>
            <p style="color: grey; font-size: 20px">
                Street Number 06 House Number 24 <br />Muslim Gunj Lytton Road, Mozang Lahore <br />54000 Pakistan <br />
                <br />
                Email: muhammadrmz871@gmail.com <br />
                <br />
                Phone Number: +923244812756
            </p>
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>